.form {
    margin: 20px 0;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 30px 15px;
}

.label_agend {
    display: block;
    margin-bottom: 8px;
    color: #333;
}

.input_agend {
    width: calc(100% - 20px);
    padding: 10px;
    max-height: 47px;
    margin-top: 5px;
    border: 3px solid #8d8c8c;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 18px;
    background-color: #f9f9f9;
}

.grid {
    display: contents;
}

.grid_item {
    display: flex;
    flex-direction: column;
}

.grid_codigo {
    grid-column: span 2;
}

.grid_situacao {
    grid-column: span 4;
}

.grid_placa,
.grid_horario,
.grid_data,
.grid_cor,
.grid_marca,
.grid_modelo {
    grid-column: span 4;
}

.grid_cliente {
    grid-column: span 6;
}

.grid_catserv,
.grid_nomeserv {
    grid-column: span 6;
}

.grid_observacoes {
    grid-column: span 12;
}

.input_agend:focus,
.input_agend_senha:focus,
.input_agend_password:focus {
    border-color: #ff9d00;
    outline: none;
}

.mdEye {
    width: 24px;
    height: 24px;
    margin: auto 10px;
    cursor: pointer;
}